* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    line-height: 1.5em;
    font-family: 'Cormorant', serif;
    font-weight: lighter;   
}

main {
    margin: 144px 0 90px;
    padding: 0 2rem;
    width: 100%;
}

/* typography */

h2 {
    margin-top: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

/* Basic styles */
ul {
    list-style-type: none;
}

/* Header: top container */
header {
    position: fixed;
    width: 100%;
    height: 144px;
    top: 0;
    left: 0;
    background-color: white;
}

.header-top-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0.4rem 0.5rem;
    background-color: #CC0000;
}

.hola-logo,
.burger-btn {
    height: 100%;
}

.burger-btn {
    outline: 0;
    background-color: transparent;
    border: 0;
    height: 100%;
    width: 2.4rem
}

.fa-bars {
    font-size: 1.7rem;
}


/* header navigation  */
.header-nav {
    height: 46px;
    margin: 0 0.5rem;
}

.header-nav ul {
    overflow: auto;
    white-space: nowrap;
    gap: 0.7rem;
}

a {
    all: unset;
}

.header-version-links {
    height: 48px;
}

.header-version-links ul {
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.header-nav ul,
.header-version-links ul
 {
    display: flex;
    height: 100%;
    align-items: center;
}

/* nav menu */
.nav-menu {
    position: fixed;
    display: flex;
    width: 94vw;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    overflow-y: auto;
    
}

.nav-menu-header {
    padding: 16px 16px 16px 30px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
}

.nav-menu-top-line {
    display: flex;
    justify-content: space-between;
}

.nav-menu-top-line .hola-logo {
    height: 46px;
}

.nav-menu-close-btn {
    background: transparent;
    border: 0;
    color: white;
}

.select-edition {
    all: unset;
    color: white;
    font-size: 1rem;
    background-color: black;
    padding: 0.2rem;
}

.search {
    display: flex;
    justify-content: space-between;
    background: #706252;
    height: 54px;
    padding: 10px;
}

.search-input {
    all: unset;
    flex: 1;
    color: black;
    font-size: 0.8rem;
    padding: 10px 10px 10px 30px;
}

.search-input::placeholder {
    color: black;
}

.search-btn {
    all: unset;
}

.nav-menu-links {
    margin: 1rem 0;
}

.nav-menu-links ul,
.nav-menu-footer ul {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 30px;
    gap: 1rem;
}


.nav-menu-footer {
    background-color: black;
    color: white;
    padding: 2rem 0 6rem;
}


/* article section */
.section-header {
    display: flex;
    flex-direction: column;
}

.section-title {
    background-color: black;
    border: 1px solid red;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 0;
    margin: 16px 22px -12.8px;
    text-align: center;
    padding: 1rem;
}

.article img,
.section-content img {
    width: 100vw;
    max-width: 1024px;
    margin: 0 -2rem;
}

.section-main-img {
    z-index: -1;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    display: flex;
    width: 80%;
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
}

.comment .avatar {
    width: 50px;
    height: 50px;
    margin: 20px 10px 0 0;
}

.comment-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.comment-content .comment-img {
    margin-left: 30%;
    width: 40%;
}


/* social media modal */
.social-media-links {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    gap: 2rem;
    left: 0;
    width: 100%;
    background-color: #F6F6F6;
    height: 55px;
}

.social-media-links button {
    all: unset;
}

.fa-facebook-f {
    color: #4267B2;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-pinterest-p {
    color: #E60023;
}

.fa-whatsapp {
    color: #25D366;
}

.hidden {
    display: none;
}

/* media */

@media (min-width: 768px) {
    .header-nav {
        display: none;
    }

    header {
        height: 98px;
        border-bottom: 2.5px solid lightgrey;
    }

    main {
        margin-top: 105px; 
    }

    .section-header {
        flex-direction: row;
        align-items: center;
    }

    .section-main-img {
        max-width: 60%;
    }

    .section-title {
        margin: 0 -0.5rem 0 0;
        flex: 1;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    main {
        margin: 105px auto 0;
        padding: 0 50px;
        max-width: 1024px;
    }

    .social-media-links {
        margin: 30vh 0 0 20px;
        position: fixed;
        width: 0;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: green;
    }
}

/* exit intent popup */
.exit-intent-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(33, 33, 33, 0.8);
    transform: translateY(60%) scale(0);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.exit-intent-popup.visible {
    transform: translateY(0) scale(1);
}

.discount-offer {
    position: absolute;
    border-radius: 0.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:gainsboro;
    padding-bottom: 30px;
}

.discount-offer h2 {
    margin-top: 30px;
}

.discount-offer img {
    width: 30%;
}

.discount-offer-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.discount-offer-form label {
    font-size: 1.3rem;
}

.discount-offer-form input,
.discount-offer-form button {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 0;
}

.discount-offer-form button {
    background-color: #DE0606;
    
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 2rem;
    font-weight: bold;
}